{% extends 'header.html' %}
{% load static %}

{% block content %}
<!-- top Products -->
<div class="ads-grid">
	<div class="container">
		<!-- tittle heading -->
		<h3 class="tittle-w3l">Products
			<span class="heading-style">
				<i></i>
				<i></i>
				<i></i>
			</span>
		</h3>
		<!-- //tittle heading -->
		<!-- product right -->
		<div class="agileinfo-ads-display col-md-12 w3l-rightpro">
			<div class="wrapper">
				<!-- first section -->
				<div class="product-sec1">
					<!-- for loop starts -->
					{% for item in productlist %}
					<div class="col-xs-3 product-men" style="margin-top:50px">
						<div class="men-pro-item simpleCart_shelfItem">
							<div class="men-thumb-item">
								<img src="{{item.pic.url}}" width="196" height="196" alt="">
								<div class="men-cart-pro">
									<div class="inner-men-cart-pro">
										<a href="single.html" class="link-product-add-cart">Quick View</a>
									</div>
								</div>
								
							</div>
							<div class="item-info-product ">
								<h4>
									<a href="single.html">{{item.name}}</a>
								</h4>
								<div class="info-product-price">
									<span class="item_price">{{item.price}}</span>
									<del>{{item.price}}</del>
								</div>
								<div
									class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
									<form action="{% url 'add_to_cart' item.id %}" method="post">
										{% csrf_token %}
										<fieldset>
											<input type="submit" name="submit" value="Add to cart" class="button" />
										</fieldset>
									</form>
								</div>

							</div>
						</div>
					</div>
					{% endfor %}
					<!-- for loop ends -->
					<div class="clearfix"></div>
				</div>
				<!-- //first section -->

			</div>
		</div>
		<!-- //product right -->
	</div>
</div>
<!-- //top products -->
{% endblock %}